<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<form action="/account" method="post">
  <input type="integer" name="withdrawl"/>
  <iput type="submit" value="withdrawl"/>
</form>

<form action="/account" method="post">
  <input type="integer" name="deposit"/>
  <iput type="submit" value="deposit"/>
</form>


<p><a href="/logout">Log Out</a></p>
